body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(212, 216, 221);
}

.customNavBar {
    background-color: #B0B7C0;
}

.mainBorder {
    border-radius: 6px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

.indexPost {
    margin-bottom: 1em;
    border-radius: 6px;    
}

.lightGray {
    background-color: rgb(241, 241, 241);
}
.gray {
    background-color: rgb(241, 241, 241);
}

.white {
    background-color: rgb(255, 255, 255);
}

.indexPostTitle {
    background-color:rgba(228, 228, 228, 0.849);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    word-wrap: break-word;
    width: 100%;
}
.indexPostTitleLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.indexPostTitleLink:hover{
    text-decoration: none;
    color: rgb(203, 210, 211);
}

.indexPostDetails {
    padding-top: 0.3em;
    padding-bottom: 0.7em;
    padding-left: 2%;
    padding-right: 2%;
}
.indexPostText {
    background-color:rgba(228, 228, 228, 0.849);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    color: black;
    word-wrap: break-word;
    width: 100%;
}
.indexPostMedia{
    text-align: center;
    padding: 1em;
}
.indexPostMediaContent{
    display: inline-block;
}
.indexPostRating {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 2%;
    padding-right: 2%;
}


.button1{
    background-color: rgb(102, 181, 218);
    border-color: rgb(102, 181, 218);
}
.button1:hover{
    background-color: rgb(58, 168, 219);
    border-color: rgb(102, 181, 218);
}
.button1:active {
    background-color: rgb(58, 168, 219);
    border-color: rgb(102, 181, 218);
}
.notCreatePostDiv {
    background-color: rgb(102, 181, 218);
    border-radius: 5px;
}
.notCreatePostDivText {
    padding: 1em;
}


.modalBottom {
    background-color: rgb(102, 181, 218);

}

.recommendedPosts {
    background-color:rgba(255, 255, 255, 0.931);    
    padding-top: 1.4em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#error {
    color: red;
}

.error {
    color: red;
}

.recommendedPostsTitle {
    word-wrap: break-word;
    width: 100%;
}